:root {
  --white: #FFFFFF;
  --black: #000000;
  --gray: #C6C6C6;
  --darkGray: #999CAE;
  --veryDarkGray: #5C5C5C;
  --lightGray: #EEEEEE;
  --veryLightGray: #F2F2F2;
  
  // COLOR PALETTE
  --darkBlue: #231D34;
  --purple: #C8AED0;
  --green: #78C2B3;
  --orange: #DA763D;

  // SCROLLBAR
  --scrl-1: rgba(203, 203, 203, 0.6);
  --scrl-2: rgba(9, 30, 66, 0.08);
  --scrl-3: rgb(203, 203, 203);
}
